@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-gray-1000 dark:text-white bg-white text-gray-1000 transition-colors duration-500;
  }

  body > * {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  ::selection {
    @apply text-main bg-[hsla(169,65%,38%,0.3)];
  }

  /* TYPOGRAPHY */
  h1 {
    @apply text-3xl leading-10 md:text-5xl md:leading-[60px];
  }
  h1:first-of-type {
    @apply mb-2;
  }
  h2:first-of-type {
    @apply font-sans font-extrabold text-lg;
  }
  h2:not(:first-of-type) {
    @apply mt-10;
  }
  hr {
    @apply my-10 bg-white;
  }

  h2 {
    @apply text-2xl md:text-4xl md:leading-[52px];
  }

  a {
    @apply dark:text-main text-main-900 font-normal items-center gap-3 underline underline-offset-8;
  }

  a > code {
    @apply relative text-main bg-transparent underline-offset-8;
  }

  a > code::before {
    @apply absolute inset-0 block bg-gray-300 opacity-10 rounded;
    content: '';
  }

  p {
    @apply my-5 leading-8;
  }
  img {
    @apply mx-auto mt-10 rounded;
  }
  code {
    @apply text-sm bg-gray-700 p-1 rounded break-words;
  }

  pre.astro-code > code {
    all: unset;
  }

  pre {
    @apply relative px-5 py-4 overflow-x-auto overflow-y-hidden;
  }

  img.cover {
    @apply w-full max-h-[50vh] object-cover;
  }

  blockquote {
    @apply p-1 dark:text-main text-main-900  dark:bg-[hsla(169,65%,38%,0.3)] bg-[hsla(169,65%,38%,0.2)] mt-3 text-lg font-semibold mb-7;
  }
  blockquote > p {
    all: unset;
  }
  p > em {
    @apply not-italic w-full text-center block mb-10 mt-3 font-semibold;
  }

  li:before {
    @apply mr-2;
    content: '\1F95E';
  }

  /* POST CONTENT */
  .content {
    @apply max-w-[65ch] mx-auto p-5;
  }
}
