---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import PageTransition from '@components/transition/PageTransition'
import Scene from '@paths/designer/MainScene'
import { Leva } from 'leva'

let title = 'Designer | Alex Streza'
let description =
  "Everything JavaScript, Typescript and Web Development. I sometimes tackle AI, Web3 and have a massive soft spot for 3D and CGI. I also think I'm funny at times too."
let permalink = 'https://www.blog.alexstreza.dev/'
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />

    <style>
      header {
        @apply w-full h-full grid place-content-center;
      }
    </style>
  </head>

  <body data-barba="wrapper">
    <Header />
    <Leva client:only="react" hidden={process.env.NODE_ENV === 'production'} />

    <main
      data-barba="container"
      data-barba-namespace="home"
      class="absolute top-0 w-screen h-screen"
    >
      <section
        class="inset-0 p-0 overflow-x-auto mx-[none] z-0 w-screen h-screen"
      >
        <Scene client:only="react" />
      </section>
    </main>

    <PageTransition />

    <script is:inline src="https://unpkg.com/@barba/core">

    </script>

    <script is:inline src="https://unpkg.com/@barba/prefetch">

    </script>

    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
    >

    </script>

    <script is:inline type="module">
      import '../assets/scripts/theme.js'
      import '../assets/scripts/transition.js'
    </script>
  </body>
</html>
