---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import PageTransition from '@components/transition/PageTransition'
import Scene from '@paths/designer/MainScene'
import { Leva } from 'leva'
import Particles from '@paths/designer/Particles'

let title = 'Designer | Alex Streza'
let description =
  "Everything JavaScript, Typescript and Web Development. I sometimes tackle AI, Web3 and have a massive soft spot for 3D and CGI. I also think I'm funny at times."
let permalink = 'https://www.blog.alexstreza.dev/'
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} ogImage="https://imagedelivery.net/_X5WqasCPTrKkrSW6EvwJg/5b07bbe4-1446-4217-3833-bf349600ef00/public" />

    <style>
      header {
        @apply w-full h-full grid place-content-center;
      }
    </style>
  </head>

  <body data-barba="wrapper">
    <Header />
    <Leva client:only="react" hidden={import.meta.env.PROD} />

    <main
      data-barba="container"
      data-barba-namespace="home"
      class="absolute top-0 w-screen ch-screen"
    >
      <section class="relative p-5 mt-24 md:mt-28 md:py-8 md:px-[120px]">
        <Particles client:only="react" />
        <Scene client:only="react" />
      </section>
    </main>

    <PageTransition />
  </body>
</html>
