---
import Awwwards from '@components/Awwwards.astro'
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import PageTransition from '@components/transition/PageTransition'
import Scene from '@paths/home/Scene'

let title = 'Portofolio | Alex Streza'
let description =
  "Everything JavaScript, Typescript and Web Development. I sometimes tackle AI, Web3 and have a massive soft spot for 3D and CGI. I also think I'm funny at times."
let permalink = 'https://www.blog.alexstreza.dev/'
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body data-barba="wrapper">
    <Header />
    <main
      data-barba="container"
      data-barba-namespace="home"
      class="absolute top-0"
    >
      <Scene client:only="react" />
    </main>
    <Awwwards />
    <PageTransition />
  </body>
</html>
