---
import ThemeToggle from '@components/theme-toggle'
import KBar from './kbar'
---

<nav class='navbar'>
  <span>Alex Streza</span>
  <div class='navbar-actions'>
    <KBar client:only />
    <ThemeToggle client:load />
  </div>
</nav>

<style>
  .navbar {
    @apply flex justify-between items-center p-5 md:py-10 md:px-[120px] w-full;
  }

  .navbar-actions {
    @apply flex gap-5 h-[32px];
  }
  span {
    @apply text-[28px] mb-0 font-serif font-black;
  }
</style>
