---
export interface Props {
  post: any
}

const { post } = Astro.props
---

<article class='post-preview'>
  <header>
    <span>{post.frontmatter.publishDate}</span>
    <h2 class='title'>{post.frontmatter.title}</h2>
  </header>
  <p>{post.frontmatter.description}</p>
  <a href={post.url}>Read more</a>
</article>

<style>
  header {
    @apply flex flex-col gap-3;
  }
  h2 {
    @apply !font-serif !text-3xl !leading-[40px] -mb-4;
  }
</style>
