---
import { Icon } from 'astro-icon'

export interface Props {
  publishDate: string
  likes: string
  readTime: string
  likeCount: number
  shareCount: number
  commentCount: number
}

const { publishDate, readTime, likeCount, shareCount, commentCount } =
  Astro.props
---

<div class='layout'>
  <article class='content'>
    <header class='flex mb-7 items-center'>
      <a
        href='/'
        class='dark:text-white text-gray-1000 no-underline w-1/3 flex gap-1 items-center font-bold p-2 pl-0'
      >
        <Icon name='jam:arrow-left' width={24} />
        <span class='-mt-1 block'>All stories</span>
      </a>
      <div class='ml-auto text-sm'>
        <span>{publishDate} - {readTime}</span>

        <!-- <span class='hidden md:inline-block'> -</span> -->
        <!-- <br class='md:hidden' /> -->
        <span class='text-main'>
          <!-- {' ' + likeCount} -->
          <!-- claps -->
          <!-- {commentCount} -->
          <!-- comments - -->
          <!-- {shareCount} -->
          <!-- shares -->
        </span>
      </div>
    </header>
    <main>
      <slot></slot>
    </main>
  </article>
</div>
