---
import { Icon } from 'astro-icon'
import Liveblock from './live/Liveblock'

export interface Props {
  pubDate: string
  readTime: string
  shareCount: number
}

const { pubDate, readTime, shareCount } = Astro.props
---

<section class="content">
  <header class="flex mb-7 items-center">
    <a
      href="/writer"
      class="dark:text-white text-gray-1000 no-underline w-1/3 flex gap-1 items-center font-bold p-2 pl-0"
    >
      <Icon name="jam:arrow-left" width={24} />
      <span class="-mt-1 block">All posts</span>
    </a>
    <div class="ml-auto text-sm">
      <span class="flex">
        <Liveblock client:only="react" /> active - {readTime} - {pubDate}
      </span>
      <!-- {shareCount} -->
      <!-- shares -->
    </div>
  </header>
  <article>
    <slot />
  </article>
</section>
