---
import ThemeToggle from '@components/theme-toggle'
import { getPosts } from '@utils/server'
import KBar from './kbar'

const posts = getPosts(await Astro.glob('../pages/posts/*.md')).map((p) => ({
  ...p.frontmatter,
  url: p.url,
}))
---

<nav class="navbar">
  <a href="/" class="reset-link"><span>Alex Streza</span></a>
  <div class="navbar-actions">
    <KBar client:only {posts} />
    <ThemeToggle client:load />
  </div>
</nav>

<style>
  .navbar {
    @apply flex z-10 relative justify-between items-center p-5 md:py-10 md:px-[120px] w-full;
  }

  .navbar-actions {
    @apply flex gap-5 h-[32px];
  }
  span {
    @apply text-[28px] mb-0 font-serif font-black;
  }
</style>
